<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="AllTest">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src/JPush/</directory>
            <exclude>
                <directory>../vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>